---
title: Vereinstraining
---
<div class="section">
  <img class="float right" src="/training.jpg" width="270" height="120">
  <p>Das Hallenbadtraining findet jeden Mittwoch und Freitag im
  <a href="http://nuernbergbad.de/suedstadtbad/ausstattung-angebot/">sued.stadt.bad</a> statt.</p>

  <p><b>Trainiert werden:</b></p>
  <ul>
    <li>Schwimmen mit ABC-Ausrüstung zur Verbesserung der Kondition</li>
    <li>Gerätetauchen und Tauchausbildung nach Absprache</li>
  </ul>
  <div style="clear: both;"></div>
</div>

<h3>Trainingszeiten</h3>

<div class="section">
  <p><b>Mittwoch</b> von 21 Uhr bis 22:00 Uhr<br>
  Bahnverteilung:<br>
  Bahn 1, Bahn 2 und Sprungbecken</p>

  <p><b>Freitag</b> von 19:00 Uhr bis 22:00 Uhr (Schulferien ab 20 Uhr)<br>
  Bahnverteilung:<br>
  19:00 Uhr bis 21:00 Uhr Bahn 1 und Sprungbecken<br>
  21:00 Uhr bis 22:00 Uhr Bahn 1, Bahn 2 und Sprungbecken (Schulferien Bahn 1 und Sprungbecken)<br>
  Freitags ist nach Absprache Tauchen mit DTG möglich.</p>

  <p>Allgemeine Informationen zu Eintrittspreisen und Öffnungszeiten unter:
  <a href="http://nuernbergbad.de/suedstadtbad/ausstattung-angebot/">sued.stadt.bad</a></p>

  <p>
  Allersberger Straße 120<br>
  90461 Nürnberg<br>
  Telefon: 0911 / 231-14164<br>
  </p>

  <p>
  <b>Bitte beachten:</b><br>
  Vereinsmitglieder müssen sich an der Kasse ausweisen, deshalb bitte Mitgliedsausweis nicht vergessen.<br> Beim
  Eintritt erhält man einen ChipCoin, auf dem die angemietete Zeit des Vereins zuzüglich<br> 30 Minuten zum Duschen und
  Umkleiden gebucht ist.
  </p>
</div>

