---
title: Impressum
---
<div class="section">
<h4>DUC Nürnberg – Datenschutzerklärung</h4>

<p>Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie
Postanschriften, Telefonnummern sowie E-Mail-Adressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten
Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstößen
gegen dieses Verbot sind ausdrücklich vorbehalten.</p>

<h4>Datenschutz</h4>

<p>Der DUC nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Deshalb behandeln wir alle personenbezogenen Daten, die
beim Betrieb unserer Internetpräsenzen anfallen vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
sowie dieser Datenschutzerklärung.</p>

<p>Generell ist die Nutzung unserer Webseite ohne die Angabe personenbezogener Daten möglich.
Eine Erhebung personenbezogener Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) 
auf unseren Seiten, erfolgt grundsätzlich auf freiwilliger Basis. Diese Daten werden ohne Ihre 
ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>

<p>Wir weisen explizit darauf hin, dass bei der Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) 
Sicherheitslücken bestehen können. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. 
Wir bemühen uns jedoch durch geeignete Schutzmaßnahmen so viele Sicherheitslücken wie möglich zu schließen.</p>

<h4>Auskunft, Löschung, Sperrung</h4>

<p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, 
deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie auf Berichtigung, Sperrung oder 
Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie
sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>

<h4>Browser Plugin</h4>

<p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir
weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre
Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google
verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
<a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout</a>.</p>

<h4>Links zu Social Media</h4>

<p>Auf unserer Website verwenden wir keine Plugins zu sozialen Netzwerken.</p>

<p>Sind Sie bei einem sozialen Netzwerk bereits angemeldet, während Sie unsere Webseiten besuchen, ist es dem jeweiligen
Social Media Betreiber möglich, Ihren Besuch auf unserer Internetseite Ihnen und Ihrem Benutzerkonto zuzuordnen. Wir
weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren
Nutzung durch den Social Media Betreiber haben.</p>

<p>Falls Sie kein Mitglied eines sozialen Netzwerks sind, besteht trotzdem die Möglichkeit, dass die sozialen Netzwerke
beim Besuch der Internetseiten der Social Media Betreiber Ihre IP-Adresse sowie Informationen über den von Ihnen
genutzten Browser und das von Ihnen genutzte Betriebssystem erhalten und speichern. Sollten Sie später dem sozialen
Netzwerk beitreten, ist eine eventuelle Zuordnung der vorher gesammelten Daten zu Ihrem neuen Benutzerkonto nicht
auszuschließen.</p>

<p>Verantwortliche Stelle für die Datenerhebung:</p>

<p>
DUC Nürnberg<br>
Jürgen Iberler<br>
Häherweg 22<br>
90480 Nürnberg<br>
Deutschland<br>
<br>
Telefon: +49 911 3846982<br>
E-Mail: duc-nuernberg<span style="display: none;"></span>&#64;mail-buero.de
</p>

</div>
