---
title: Interner Bereich
---
<div class="section">
    <img class="float right" src="waechter.jpg" width="300" height="225">

    <p>Dies ist der interne Bereich des DUC&nbsp;Nürnberg.</p>

    <p><strong>Neu:</strong> Nach dem Umzug unserer Homepage ist der
    Mitgliederbereich nicht mehr mit einem Passwort geschützt. Stattdessen
    haben wir die PDF-Dateien, die hier zum Download stehen, mit einem
    Passwort geschützt. Das Passwort ist das Gleiche, der Benutzername findet
    keine Verwendung mehr.</p>

    <div class="clearer"></div>
</div>

<h3>Protokolle</h3>

<div class="section">
  <p>Zum Öffnen der PDF-Dateien wird ein Passwort benötigt, das
  Vereinsmitglieder bei Aufnahme in den Verein schriftlich mitgeteilt
  wird.</p>

  <div class="imgWithCaption"
    ><a href="Protokoll Hauptversammlung 2022.pdf" target="_blank"
      ><img src="Protokoll Hauptversammlung 2022.jpg" width="191" height="270"
      ><div>Protokoll Hauptversammlung 2022</div
    ></a
  ></div>

  <div class="imgWithCaption"
    ><a href="Protokoll Hauptversammlung 2021.pdf" target="_blank"
      ><img src="Protokoll Hauptversammlung 2021.jpg" width="191" height="270"
      ><div>Protokoll Hauptversammlung 2021</div
    ></a
  ></div>

</div>
