---
title: Mitgliedschaft im Tauchverein
---
<div class="section">
  <p>
  Wir freuen uns über neue Mitglieder, die in einer tollen Gemeinschaft und in guter Atmosphäre das für uns schönste
  Hobby der Welt erleben möchten.  Unsere Taucher profitieren von den Vorzügen einer DUC-Mitgliedschaft!
  </p>
  <img class="float right" src="mitglieder.jpg" alt="" width="250" height="144">
  <ul>
    <li>Mitgliedschaft im Verband deutscher Sporttaucher (VDST). Der Jahresbeitrag enthält eine Sportversicherung
    inklusive Tauchunfall-, Haftpflicht- und Rechtsschutzversicherung. Außerdem ist eine Auslandskrankenversicherung mit
    dabei, die auch bei allen anderen Reisen genutzt werden kann, selbst wenn es sich nicht um einen Tauchurlaub
    handelt.<br>
    <a href="https://www.vdst.de/mitglieder/tauchsport-versicherung.html">Alle Leistungen im Überblick</a>
    </li>
    <li>Wöchentliches Schwimmbadtraining - der Eintrittspreis für die Trainingsabende im Südbad ist eingeschlossen</li>
    <li>Kostenloser Bezug der Zeitschrift "Sporttaucher"</li>
    <li>Vergünstigungen für Tauchkurse</li>
    <li>Gemeinsame Tauchausflüge und andere gemeinschaftliche Veranstaltungen</li>
    <li>Kostenlose Nutzung des Tauchequipments während des Schwimmbadtrainings</li>
  </ul>
</div>

<h3>Beiträge</h3>

<div class="section">
  <table  class="preisliste">
    <tr>
      <th></th>
      <th>Jahresbeitrag</th>
      <th>Aufnahmegebühr</th>
    </tr>
    <tr>
      <td class="beschreibung">Kinder und Jugendliche<br>0-17 Jahre</td>
      <td class="preis">60,00 €</td>
      <td class="preis">50,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Erwachsene</td>
      <td class="preis">120,00 €</td>
      <td class="preis">50,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Familien<br>(inkl. Kinder bis 13 Jahre)</td>
      <td class="preis">150,00 €</td>
      <td class="preis">100,00 €</td>
    </tr>
  </table>

  <ul>
    <li>Tritt ein neues Mitglied während des aktuellen Jahres ein, so errechnet sich der Beitragssatz für
    das Beitrittsjahr anteilig nach den verbleibenden Monaten vom Eintritt bis zum Jahresende.</li>
    <li>Schüler, Studenten, Azubis, Wehr- und Zivildienstleistende über 18 Jahre zahlen gegen Vorlage
    des entsprechenden Nachweises den ermäßigten Jahresbeitrag von 60,00 €.</li>
    <li>Rentner und Bezieher von ALG I und ALG II zahlen einen ermäßigten Jahresbeitrag von 100,00 €.</li>
    <li>So genannte Gastmitglieder, die den DUC als Zweitverein gewählt haben, weil sie bereits
    in einem anderen Tauchverein Mitglieder und über diesen beim VDST gemeldet und versichert sind,
    zahlen einen ermäßigten Beitrag von 90,00 € jährlich.</li>
    <li>Ehrenmitglieder sind beitragsfrei.</li>
  </ul>
</div>

<h3>Werde Mitglied!</h3>

<div class="section">
  <p>Für einen Beitritt in den DUC sollten folgende Formulare heruntergeladen, ausgefüllt und an den
  Vorstandsvorsitzenden (Adresse steht auf der Beitrittserklärung) gesendet werden:</p>

  <ul>
    <li>Beitrittserklärung</li>
    <li>"Datenschutzhinweis für neu aufgenommene Mitglieder" bezüglich der Weitergabe der Daten an die Versicherung</li>
    <li> SEPA Lastschriftmandat</li>
  </ul>

  <p>
  <b>Formulare:</b><br>
  Zum Herunterladen bitte anklicken<br>
  Die Satzung des DUC Nürnberg muss nicht an den Vorstandsvorsitzenden gesendet werden.
  </p>

  <div class="dokumente">
    <div class="dokument">
      <a target="_blank" href="ducaufnahme.pdf">
        <img src="ducaufnahme.jpg" alt="" width="140" height="200" title="DUC Beitrittserklärung und Datenschutzhinweise">
      </a>
    </div>

    <div class="dokument">
      <a target="_blank" href="Lastschriftmandat.pdf">
        <img src="sepa.jpg" alt="" width="140" height="200" title="SEPA Lastschriftmandat">
      </a>
    </div>

<!--
    <div class="dokument">
      <a target="_blank" href="/ausbildung/Kursanmeldung.pdf">
        <img src="/ausbildung/kurs.jpg" alt="" width="140" height="200" title="Kursanmeldung">
      </a>
    </div>
-->

    <div class="dokument">
      <a target="_blank" href="satzung.pdf">
        <img src="satzung.jpg" alt="" width="140" height="200" title="Satzung">
      </a>
    </div>
  </div>
</div>

