---
title: Kontakt
---
<div class="termine">
    <div class="termin">
      <div class="datum">1. Vorstand</div>
      <div class="details">
        Jürgen Iberler<br><br>
	Tel.: 0911&nbsp;3846982<br>
	E-Mail: duc-nuernberg<span style="display: none;"></span>@mail-buero.de
      </div>
    </div>
    <div class="termintrenner"></div>
    <div class="termin">
      <div class="datum">2. Vorstand</div>
      <div class="details">Maria Warzügel</div>
    </div>
    <div class="termintrenner"></div>
    <div class="termin">
      <div class="datum">Schatzmeister</div>
      <div class="details">Josef Murr</div>
    </div>
    <div class="termintrenner"></div>
    <div class="termin">
      <div class="datum">Schriftführerin</div>
      <div class="details">Renate Salzner</div>
    </div>
    <div class="termintrenner"></div>
    <div class="termin">
      <div class="datum">Ausbildungsleiter</div>
      <div class="details">
        Stefan Labitzke<br><br>
	E-Mail: duc-ausbildung<span style="display: none;"></span>@gmx.de
      </div>
    </div>
    <div class="termintrenner"></div>
</div>
