---
title: DUC Nürnberg e.V.
kind: home
---
<div class="imageCluster">
  <div class="row">
    <div class="image">
      <a href="/ausbildung/"><img src="ausbildung.jpg" alt="" width="270" height="180"><div class="caption">Tauchausbildung</div></a>
    </div>

    <div class="image">
      <a href="/termine/"><img src="termine.jpg" alt="" width="270" height="180"><div class="caption">Termine</div></a>
    </div>
  </div><!--

  --><div class="row">
    <div class="image">
      <img src="images/maintext.png" alt="Tauchen im Verein ist am Schönsten" width="270" height="60">
      <a href="/verein/"><img src="verein.jpg" alt="" width="270" height="180"><div class="caption">Verein</div></a>
    </div>

    <div class="image">
      <a href="/training/"><img src="training.jpg" alt="" width="270" height="120"><div class="caption">Training</div></a>
    </div>
  </div><!--

  --><div class="row">
    <div class="image">
      <a href="/galerie/"><img src="galerie.jpg" alt="" width="270" height="180"><div class="caption">Galerie</div></a>
    </div>

    <div class="image">
      <a href="/mitgliedschaft/"><img src="mitgliedschaft.jpg" alt="" width="270" height="180"><div class="caption">Mitgliedschaft</div></a>
    </div>
  </div>
</div>

<h2>Tauchclub News:</h2>

<div class="section">
  <p><b>Neue Kurse:</b></p>

  <div style="clear: both;"></div>
  <img class="float right border" src="ausbildung.jpg" alt="" width="200" height="150">
  <p><b>NITROX1</b>: Am 1. März findet wieder ein NITROX 1 Stern Kurs statt.<br>
  Anmeldung bis 26.02.2025 über Stefan (duc-ausbildung@gmx.de), Jürgen (duc-nuernberg@mail-buero.de), Steffen oder Maria. <br>
  <a target=_blank href="https://www.duc-nuernberg.de/termine/NITROX1_Kurs_2025.pdf">Infos NITROX1 Kurs</a>
  <br><br>
  <p><b>CMAS1 Stern</b>: Auch dieses Jahr findet wieder ein CMAS 1 Stern Kurs statt.<br>
  Anmeldung bis März über Stefan (duc-ausbildung@gmx.de), Jürgen (duc-nuernberg@mail-buero.de), Steffen oder Maria. <br>
  <a target=_blank href="https://www.duc-nuernberg.de/termine/DUC_Beschreibung_CMAS1_Version1.pdf">Infos CMAS1 Stern Kurs</a>
  <br><br>
  </p>
  <p><b>Rettungstraining</b>: Auch dieses Jahr findet wieder ein Rettungstraining statt.<br>
  Anmeldung bis 14. März über Stefan (duc-ausbildung@gmx.de), Jürgen (duc-nuernberg@mail-buero.de), Steffen oder Maria. <br>
  <a target=_blank href="https://www.duc-nuernberg.de/termine/Rettungstraining_2025.pdf">Infos Rettungstraining</a>
  <br><br>
  </p>
  <div style="clear: both;"></div>

  <p><b>Ausblick und Informationen:</b></p>

  <div style="clear: both;"></div>
  <img class="float right border" src="FM25_DUC.jpg" alt="" width="300" height="150">
  <p><b>FREIZEIT Messe - Unser Verein bei den MOTIVATION-days - 14.-16.03.2025</b><br>
  Vom 14.-16. März sind wir mit einem Stand auf der FREIZEIT Messe. Helfer willkommen! <br>
  Außerdem haben wir ein begrenztes Kontingent an Tageskarten, deren Verfügbarkeit bei Jürgen erfragt werden kann.<br>
  <br><br>
  </p>
  <div style="clear: both;"></div>

</div>
