/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 0px;
	font-family: Candara, "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 15px;

	background-image: url(/images/background.jpg);
	background-color: #011249;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header, main, footer {
	max-width: 900px;
	margin: 0px auto;
}

.clearer {
	clear: both;
}

/*------------------------------
=HEADER
------------------------------*/
#header{
	position: relative;
	height: 120px;
	margin: 2em 0;
}
#logo{
	float: left;
	padding-right: 50px;
}

#header h1 {
	font-size: 30px;
	line-height: 40px;
	padding-top: 20px;
}

#header h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 0;
}

#header h1, #header h3 {
	color: #FFFFFF;
	text-shadow: 0px -1px 2px black;
}

#header img{
	border: 0px;

}

main h2, main h3 {
	padding: 1ex 0;
	background: #E6EBF0;
	opacity: 0.8;   /* Transparenz */

	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	color: rgb(96, 96, 128);
}

main h2 {
	margin-top: 1em;
}

main div.section {
	background-color: #E6EBF0;
	line-height: 21px;
	padding: 1em 1vw;
}

main div.section p {
	padding-top: 1ex;
	padding-bottom: 1ex;
}

main div.section img.float.right {
	float: right;
	margin: 1ex;
	clear: right;
}

main div.section img.border {
	border:1px;
	border-style:solid;
	border-color: #aaa;
	padding:3px;
	margin:0px;
}

main div.section ul {
	padding-left: 2.5em;
}

/*------------------------------
=Main AREA
------------------------------*/
.imageCluster .row {
	display: inline-block;
	width: 276px; /* = 3+270+3 */
	margin-right: 36px;
}

.imageCluster .row:last-child {
	margin-right: 0;
}

.imageCluster .image {
	display: inline-block;
	background-color: #E6EBF0;
	padding: 3px;
	margin-top: 24px;
}

.imageCluster a {
	display: block;
	position: relative;
}

.imageCluster .caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 8px 8px;
	width: auto;
	text-align: left;
	font-variant: small-caps;
}

/*------------------------------
=TERMINE AREA
------------------------------*/
.termine {
	background: #E6EBF0;
	font-size: 18px;
	line-height: 22px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.vergangene.termine {
	color: #707070;
}

.termin {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Smartphones and some tablets. */
@media screen and (max-width:899px) {
	.termin {
		border: 1px solid gray;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 1px 2px 3px gray;
	}

	.termin .datum {
		background-color: rgb(208, 208, 224);
		text-align: center;

		padding: 0.4ex;
	}

	.termin .details {
		padding: 3px;
		background-color: white;
	}

	.termine hr {
		display: none;
	}
}

/* Laptops and workstations. */
@media screen and (min-width: 900px) {
	.termin .datum {
		background-color: rgb(208, 208, 224);
		width: 12em;
		float: left;
		text-align: right;

		padding: 0.4ex;
	}

	.termin .details {
		margin-left: 15em;
	}

	.termine hr {
		width: 75%;
		margin: 0 auto;
		color: white;
	}
}

.termin.ausbildung .datum {
	background-color: rgb(192, 224, 255);
}

.termin.verein .datum {
	background-color: rgb(192, 255, 192);
}

.termin .details .titel {
	font-weight: bold;
	margin-bottom: 0.5ex;
}

.termin .details .anhang {
	margin-top: 1ex;
}

.termine a {
	color: #ff8000;
	text-decoration: none;
	/* font-size: 16px; */
	line-height: 18px;
}

/*------------------------------
=GALERIE AREA
------------------------------*/
.galerie.list {
	padding-bottom: 2em;
}

.galerie.list .link {
	width: 200px;
	float: left;
}

.galerie img {
	border:1px;
	border-style:solid;
	border-color: #aaa;
}

.galerie.list img {
	padding:3px;
	margin:0px;
}

.galerie.single img {
	padding:0px;
	margin:0px;
}

.galerie a {
	color: #ff8000;
	text-decoration: none;
}

.galerie span {
	/* font-size: 16px; */
	line-height: 16px;
	color: #000000;
}

.galerie a {
	/* font-size: 16px; */
	line-height: 16px;
}

.dokument {
	display: inline-block;
	padding: 0 25px;
}

.dokument img {
	border: 2px solid #aaa;
	padding:0px;
	margin:0px;
}

.table {
	border: 0px;
}

/*------------------------------
=AUSBILDUNGAREA
------------------------------*/
.ausbildung {
	background: #E6EBF0;
}

.ausbildung p {
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

.preisliste {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

.preisliste th, .preisliste td {
	padding: 0.5ex;
}

.preisliste th {
	background-color: rgba(255, 255, 255, 0.5);
}

.preisliste td {
	border-bottom: 2px solid lightgray;
}

.preisliste .preis {
	text-align: right;
}

img.ausimg {
	border:1px;
	border-style:solid;
	border-color: #aaa;
	padding: 3px;
	margin:0px;
}

/*------------------------------
=Vereinsintern Main AREA
------------------------------*/
img.internimg {
	border:1px;
	border-style:solid;
	border-color: #aaa;
	padding:3px;
	margin:0px;
}

/*------------------------------
Menu and footer
------------------------------*/
.menu {
	margin-top: 16px;
	background-color: rgba(40, 40, 40, 0.8);
}

.menu ul {
	list-style: none;
}

.menu li {
	float: left;
	height: 30px;
}

.menu a {
	margin-left: 44px;
	font-size: 16px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-variant: small-caps;
}

.menu a.selected, .menu a:hover {
	color: #ff8000;
}


#footer{
	position: relative;
	margin-top: 16px;
	opacity: 0.8;   /* Transparenz */
}

.imgWithCaption {
	display: inline-block;
	margin: 1em;
}

.imgWithCaption a {
	display: block;
	position: relative;
	width: 270px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.imgWithCaption div {
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 2px 5px;
	width: 260px;
	text-align: left;
}
