<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Tauchclub, DUC, Tauchen, Nürnberg, Fuerth, Tauchsport, Schnuppertauchen, Meer, Ausbildung, Tauchausbildung, Tauchkurse, CMAS">
	<meta name="description" content="DUC Nürnberg - bei uns kannst du das Tauchen erlernen. Die Tauchausbildung erfolgt durch unsere Tauchschule 
	                                  mit einem großen Angebot an Tauchkursen. Tauchen im Verein ist am schönsten!">
{{ $favicon := resources.Get "images/favicon.png" }}
	<link rel="shortcut icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108189613-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-108189613-1'); 
	</script>
