	<header>
		<div id="header">
{{- $logo := resources.Get "images/logo.png" }}
			<div id="logo"><a href="/"><img src="{{ $logo.RelPermalink }}" height="{{ $logo.Height }}" width="{{ $logo.Width }}" alt="DUC Logo"></a></div>
			<h1>DUC NÜRNBERG e.V.</h1>
			<h3>Deutscher Unterwasserclub Nürnberg</h3>
		</div>
	</header>

{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
