{{ define "main" }}
  {{ .Content }}

  {{- if .Title }}
  <h2>{{ .Title }}</h2>
  {{- end }}

  {{- range .Pages.GroupByDate "2006" }}
  <h3>{{ .Key }}</h3>

  <div class="section galerie list">
  {{- range .Pages.ByDate }}
    {{- $images := .Resources.ByType "image" }}
    {{- $img := $images.GetMatch "*" }}
    {{- $thumb := $img.Fill "160x160" }}
    <div class="link">
      <a href="{{ .RelPermalink }}">
      <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="{{ .Title }}"></a><br>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a><br>
      <span>{{ .Date | time.Format "January 2006" }}</span>
    </div>
  {{- end }}
    <div class="clearer"></div>
  </div>
  {{- end }}
{{ end }}
