{{ define "main" }}
  {{ if .Title }}
  <h2>{{ .Title }}</h2>
  {{ end }}

  <script type="text/javascript" src="/html5lightbox/jquery.js"></script>
  <script type="text/javascript" src="/html5lightbox/html5lightbox.js"></script>

  <div class="section galerie single">
    {{ .Content }}

    <div class="thumbnails">
    {{- range .Resources.ByType "image" }}
    {{- $thumb := .Fill "140x105" }}
          <a href="{{ .RelPermalink }}" class="html5lightbox" data-group="mygroup"
            ><img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="{{ $thumb.Name }}" class="picimg"
          ></a>
    {{- end }}
    </div>
  </div>
{{ end }}
