---
title: Tauchen im Verein ist am schönsten!
---
<div class="section">
  <img class="float right" src="gruendung.jpg" width="270" height="180">

  <p>Der <strong>Deutsche Unterwasserclub Nürnberg e. V.</strong> (kurz: DUC Nürnberg) ist der älteste und größte
  Tauchclub in Nürnberg und Umgebung. Er wurde am 27.&nbsp;Januar 1962 gegründet und hat derzeit etwa
  184&nbsp;Mitglieder.</p>

  <p>Der DUC ist als gemeinnütziger Sportverein anerkannt und ist Mitglied im Verband Deutscher Sporttaucher&nbsp;e.V.,
  der Dachorganisation der deutschen Tauchsportvereine. Ferner gehört der DUC Nürnberg dem Bayerischen
  Landessportverband und dem weltweitem Verband CMAS an.</p>

  <p>Unser Verein möchte Interessierte an den Tauchsport heranführen und das erworbene Wissen vertiefen und erweitern.
  Wöchentlich treffen wir uns zum Hallenbadtraining und es werden verschiedene Tauchausflüge organisiert. Darüber hinaus
  bietet unser Club Kurse zum Erwerb von Tauchbrevets an.</p>

<!--
  <p>In unserem Verein gibt es auch eine Jugendgruppe im Flossenschwimmen, die individuell betreut wird und sehr
  erfolgreich an nationalen Wettkämpfen teilnimmt.</p>
-->

  <p>Natürlich kommt auch das Vereinsleben nicht zu kurz. Es gibt zahlreiche Veranstaltungen, um Erlebnisse und
  Erfahrungen auszutauschen oder einfach mal gemütlich in einer lustigen Runde zusammen zu sitzen.</p>
</div>

<h2>Vereinsintern</h2>

<div class="section">
<img class="float right" src="unbekannt.jpg" width="143" height="200">

<p>Dieser Bereich ist Vereinsmitgliedern vorbehalten.</p>

<p><a href="/intern/">Zum internen Bereich</a></p>
<div style="clear: both;"></div>
</div>
