---
title: Tauchausbildung
---
<div class="section">
  <div style="text-align: center;">
    <a href="http://www.cmas.org"><img src="/ausbildung/CMAS_logo.png" alt="CMAS logo"></a><br>
    Wir bilden nach den international anerkannten Richtlinien der CMAS aus.
  </div>

  <p>
  Die <em>Conféderation Mondiale des Activités Subaquatiques</em> (CMAS) ist der Weltverband der Taucher. Die
  Tauchbrevets befähigen den Taucher weltweit an allen Tauchbasen je nach Brevetstufe an geführten Tauchgängen
  teilzunehmen oder Tauchgänge zusammen mit einem Partner selbständig durchzuführen.
  </p>

  <p>
  Neben dem Spaß am Tauchen steht natürlich die Sicherheit im Vordergrund. Eine solide Grundausbildung ist besonders
  wichtig. Je besser die Grundausbildung ist, desto sicherer fühlt man sich. Das Tempo der Ausbildung wird an die
  jeweilige Gruppe angepaßt. Wir nehmen uns die nötige Zeit, um alle wichtigen Aspekte zu vermitteln und bieten eine
  umfassende und sichere Ausbildung. Zwischen den jeweiligen Ausbildungsstufen sind Aufbaukurse (AK) oder Spezialkurse
  (SK)  zu absolvieren, ein Muss für das sichere Tauchen!
  </p>

  <div>
    <img style="float: left; margin: 1ex;" src="DTSA_Tauchen.jpg" alt="" height="454" width="400">

    <p><b>Grundtauchschein</b><br>
    Hier werden erste theoretische und praktische Grundkenntnisse für das sichere Sporttauchen mit und ohne Tauchgerät
    vermittelt.</p>

    <p><b>DTSA* / CMAS *</b><br>
    Intensive Vorbereitung auf das Tauchen im Freiwasser. Mit diesem Brevet ist man ein international anerkannter
    Sporttaucher.</p>

    <p><b>DTSA** / CMAS **</b><br>
    Dieses Brevet berechtigt die selbständige Durchführung von Tauchgängen im Freiwasser mit gleichwertig ausgebildeten
    Tauchpartnern.</p>

    <p><b>DTSA*** / CMAS ***</b><br>
    Mit diesem Brevet ist man Tauchgruppenführer und kann Tauchgänge auch mit weniger erfahrenen Tauchern sicher planen
    und durchführen.</p>

    <div style="clear: both;"></div>
  </div>
</div>

<h2>Kurse und Brevets</h2>

<div class="section">
  <table class="preisliste">
    <tr>
    <th>Kurs</th>
    <th>Nicht DUC-Mitglieder</th>
    <th>DUC-Mitglieder</th>
    </tr>
    <tr>
      <td class="beschreibung">Schnuppertauchen</td>
      <td class="preis">15,00 €</td>
      <td class="preis">0,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">KTSA* / KTSA** / KTSA***</td>
      <td class="preis">auf Anfrage</td>
      <td class="preis">auf Anfrage</td>
    </tr>
    <tr>
      <td class="beschreibung">Grundtauchschein</td>
      <td class="preis">200,00 €</td>
      <td class="preis">140,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">CMAS*</td>
      <td class="preis">385,00 €</td>
      <td class="preis">290,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Orientierung</td>
      <td class="preis">85,00 €</td>
      <td class="preis">70,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Gruppenführung</td>
      <td class="preis">85,00 €</td>
      <td class="preis">70,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">DAN BLS / HLW-Kurs</td>
      <td class="preis">65,00 €</td>
      <td class="preis">Kostenlos</td>
    </tr>
    <tr>
      <td class="beschreibung">NITROX *</td>
      <td class="preis">100,00 €</td>
      <td class="preis">60,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">CMAS **</td>
      <td class="preis">265,00 €</td>
      <td class="preis">200,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Tauchsicherheit / Rettung</td>
      <td class="preis">140,00 €</td>
      <td class="preis">110,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Nachttauchen</td>
      <td class="preis">140,00 €</td>
      <td class="preis">110,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">CMAS ***</td>
      <td class="preis">330,00 €</td>
      <td class="preis">265,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Crossover PADI OWD zu CMAS* nach aktueller VDST DTSA Ordnung</td>
      <td class="preis">110,00 €</td>
      <td class="preis">80,00 €</td>
    </tr>
    <tr>
      <td class="beschreibung">Crossover von anderen Tauchorganisationen</td>
      <td class="preis">auf Anfrage</td>
      <td class="preis">auf Anfrage</td>
    </tr>
  </table>

  <p>
  Alle Kurspreise verstehen sich inklusive Mehrwertsteuer, Schulungsunterlagen, Leihausrüstung und Luftfüllungen.
  </p>

  <p>
  Nicht enthaltene Leistungen:<br>
  Fahrtkosten zu den Tauchplätzen, eventuelle Übernachtungen, Verpflegung, etc.
  </p>

  <p>Die Ausbildungseinheiten im Hallenbad erfolgen ausschließlich im Rahmen des DUC-Nürnberg.</p>

  <p> <b>Kontakt:</b><br>
  Jürgen Iberler<br>
  Häherweg 22<br>
  90480 Nürnberg</p>

  <p>Tel.: (0911) 38 46 982<br>
  Fax: (0911) 44 15 98<br>
  Mail: sport-tauchschule@kabelmail.de</p>

  <p><b>Basis und Schulungsraum:</b><br>
  Hummelsteiner Weg 72<br>
  90459 Nürnberg</p>

  <script type="text/javascript" src="/html5lightbox/jquery.js"></script>
  <script type="text/javascript" src="/html5lightbox/html5lightbox.js"></script>
  <div>
    <a target="_self" href="aus01.JPG" class="html5lightbox" data-group="mygroup"><img class="ausimg" src="aus01-kl.JPG"><br>
    mehr Bilder...</a>
  </div>
  <div><a target="_self" href="/ausbildung/aus02.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus03.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus04.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus05.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus06.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus07.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus08.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus09.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus10.JPG" class="html5lightbox" data-group="mygroup"></a></div>
  <div><a target="_self" href="/ausbildung/aus11.JPG" class="html5lightbox" data-group="mygroup"></a></div>

  <p><b>Anmeldeformular</b> zur Tauchausbildung und <b>SEPA-Lastschriftmandat</b> zum Herunterladen bitte anklicken</p>

  <div class="dokumente">
    <div class="dokument">
      <a target="_blank" href="Kursanmeldung.pdf">
        <img src="kurs.jpg" alt="" width="140" height="200">
      </a>
    </div>

    <div class="dokument">
      <a target="_blank" href="SepaLastschriftmandat.pdf">
        <img src="sepa-kurs.jpg" alt="" width="140" height="200" title="SEPA Lastschriftmandat">
      </a>
    </div>
  </div>
</div>
