{{ define "main" }}
<!-- BEGIN single.html -->
{{ if .Title }}
<h2>{{ .Title }}</h2>
{{ end }}

{{- with .Resources.Get "termine.yml" }}
{{- with . | transform.Unmarshal }}
<div class="termine">
{{- range . }}
  {{- if ._end_datum }}
    {{- $ende := time.AsTime ._end_datum }}
    {{- if time.Now.Before $ende }}
      {{- template "termin" . }}
    {{- end }}
  {{- else }}
    {{- template "termin" . }}
  {{- end }}
{{- end }}
</div>
{{- end }}
{{- end }}

<h3>Vergangene Termine</h3>

{{- with .Resources.Get "termine.yml" }}
{{- with . | transform.Unmarshal }}
<div class="vergangene termine">
{{- range . }}
  {{- if ._end_datum }}
    {{- $ende := time.AsTime ._end_datum }}
    {{- if not (time.Now.Before $ende) }}
      {{- template "termin" . }}
    {{- end }}
  {{- end }}
{{- end }}
</div>
{{- end }}
{{- end }}

{{ .Content }}

<!-- END single.html -->
{{ end }}

{{- define "termin" }}
  <div class="termin{{ with ._typ }} {{ . }}{{ end }}">
    <div class="datum">
      {{ .Datum }}
    </div>
    <div class="details">
      <div class="titel">{{ .Titel }}</div>
      {{- range .Details }}
      <div class="detail">{{ . }}</div>
      {{- end }}
      {{- with .Ort }}<div class="ort">Ort: {{ . }}</div>{{ end }}
      {{- with .Zeit }}<div class="zeit">Zeit: {{ . }}</div>{{ end }}
      {{- with .Teilnehmer }}<div class="teilnehmer">Teilnehmer: {{ . }}</div>{{ end }}
      {{- with .Hinweis }}<div class="hinweis">Hinweis: {{ . }}</div>{{ end }}
      {{- with .Anmeldung }}<div class="anmeldung">Anmeldung: {{ . }}</div>{{ end }}

      {{- if .Anhang }}
      {{- $file := page.Resources.Get .Anhang }}
      <div class="anhang">
        Anhang: <a target="_blank" href="{{ $file.RelPermalink }}">{{ $file.Title }}</a>
      </div>
      {{- end }}
    </div>
  </div>
  <hr>
{{- end }}
